.Nav {
  background-color: @black;
  padding-left:@gutter;
  
  .Nav-content {
    
    max-height:50px;
    position: relative;

    .Menu {
      display:inline-block;
      margin-top:16px;
      margin-bottom:18px;
      padding-left:30px;

      li {
        display:inline-block;
        .font-size-ems(17);
        font-weight:400;
        margin-right:30px;
      }

      a {
          color: @white;
      }
    }
  }
}

.Logo-poke {
  position:absolute;
  top:10px;
  right:@gutter;
  width:85px;
  height:87px;
  background-image: url('../img/poke_logo.png');
  background-size: 85px 87px;
  background-repeat: no-repeat;
  background-position: right bottom; 
  z-index:10;
}