@black: #2d2c32;
@white: #fff;
@offWhite: #fafbf7;
@lightBlue: #19d0f1;
@darkGrey: #2d2c32;
@lightGrey: #48484d;
@lightGreen: #f3f5ec;

@baseFontSize: 15px;
@bodyFontFamily: 'Fira Sans Light', Helvetica, Arial, sans-serif;
@headingFontFamily: 'Fira Sans Light', Helvetica, Arial, sans-serif;
@regularFontFamily: 'Fira Sans Regular', Helvetica, Arial, sans-serif;
@mediumFontFamily: 'Fira Sans Medium', Helvetica, Arial, sans-serif;

@gutter: 1.2em;

@easeQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

@small: 480px;
@postSmall: @small + 1;
@large: 768px;
@preLarge: @large - 1;
@postLarge: @large + 1;